header{
    background-color: #BBBBBB;

}

nav{
    position: absolute;
    right: 0;
    top: 3.25rem;
}

nav ul li{
    display: inline;
    margin: 0 0 0 15px;
}

nav a{
    text-transform: uppercase;
    color: #000000;
    font-weight: bold;
    font-size: 22px;
    text-decoration: none;
}

nav a:hover{
    color: #C78C18;
    text-decoration: underline;
}    

p{
    text-align: center;
    padding-bottom: 5px;
}

em b{
    color: red;
}

.img--nav{
    height: 100px;
}

.caixa{
    width: 940px;
    height: 6.5rem;
    position: relative;
    margin: 0 auto;
}

.titulo--principal{
    padding: 0 0 0 5rem;
    font-size: 36px;
    position: absolute;
    font-weight: bold;
    top: 2.60rem;
}

.titulo--centralizado{
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    padding-bottom: 5px;
}

.titulo--beneficios{
    text-align: center;
    font-size: 36px;
    font-weight: bold;
}

.missao{
    font-size: 20px;
}

.img--banner{
    width: 100%;
}

.itens{
    font-style: italic;
    font-size: 20px;
    display: inline-block;
    vertical-align: top;
    width: 20%;
    margin-right: 15%;
}

.fundo--principal{
    background: #CCCCCC;
    padding: 30px;
}

.fundo--beneficios{
    background-color: #FFFFFF;
}

.img--beneficios{
    width: 50%;
}

footer{
    text-align: center;
    background: url("IMG/bg.jpg");
    padding: 40px 0;
}

.copyright{
    color: #FFFFFF;
    font-size: 13px;
    margin: 20px 0 0;
}
