:root{
    --cor-primaria: #BBBBBB;
    --cor-secundaria: #000000;
    --cor-terciaria: #FFFFFF;
    --cor-quatro: #888888;
    --cor-hover: #C78C18;
    --fonte-principal: 'Questrial', sans-serif;
    --fonte-secundaria: 'Lobster', cursive;
    --fonte-terciaria: 'Montserrat', sans-serif;
}

/* Navbar e Footer */

body{
    font-family: var(--fonte-terciaria);
}

header{
    background-color:var(--cor-secundaria);

}

nav{
    position: absolute;
    right: 8rem;
    top: 2.90rem;
}

nav ul li{
    display: inline;
    margin: 0 0 0 15px;
}

nav a{
    text-transform: uppercase;
    color: var(--cor-terciaria);
    font-weight: bold;
    font-size: 22px;
    text-decoration: none;
}

nav a:hover{
    color: var(--cor-hover);
    text-decoration: underline;
}

.titulo--principal{
    padding: 0 0 0 5rem;
    font-size: 36px;
    position: absolute;
    font-weight: bold;
    top: 2.20rem;
    color: var(--cor-terciaria);
    margin-left: 14rem;
}

footer{
    text-align: center;
    background: url("IMG/bg.jpg");
    padding: 40px 0;
}

.copyright{
    color: var(--cor-terciaria);
    font-size: 13px;
    margin: 20px 0 0;
}

/*-------------------------------------------------------*/

.p-centro{
    margin: 0 0 1em;

}

.utensilios{
    width: 130px;
    float: left;
    margin: 0 20px 20px;
}

em b{
    color: red;
}

.img--nav{
    height: 100px;
    margin-left: 14rem;
}

.caixa{
    width: 940px;
    margin: 0 auto;
}


.titulo--centralizado{
    text-align: center;
    font-size: 46px;
    font-weight: bold;
    padding-bottom: 3rem;
    font-family: var(--fonte-secundaria)
}

.titulo--beneficios{
    text-align: center;
    font-size: 36px;
    font-weight: bold;
}

.missao{
    font-size: 20px;
}

.italico--missao{
    font-style: italic;
    font-weight: bold;
}

.img--banner{
    width: 100%;
}

.itens{
    font-style: italic;
    font-size: 20px;
    display: inline-block;
    vertical-align: top;
    width: 20%;
    margin-right: 15%;
}

.fundo--principal{
    width: 940px;
    margin: 0 auto;
    padding: 30px;
}

.fundo--beneficios{
    background: var(--cor-quatro);
}

.img--beneficios{
    width: 50%;
}

.beneficios{
    width: 940px;
    margin: 0 auto;
    padding: 50px auto;
}

.beneficios li{
    display: inline-block;
    text-align: center;
    width: 45%;
    vertical-align: top;
    margin: 0 1.5%;
    padding: 30px 20px;
    box-sizing: border-box;
    border: 3.5px solid var(--cor-secundaria);
    border-radius: 5%;
    margin-bottom: 30px;
}

.beneficios li h3{
    font-size: 26px;
    font-weight: bold;
}

.tamanho--beneficios--img{
    padding: 10px 0;
    width: 300px;
    height: 200px;
}

.beneficios li:hover{
    border-color: var(--cor-hover);
}

.beneficios li:hover h3{
    font-size: 30px;
}

.beneficios li:active{
    border-color: var(--cor-hover);
}

.mapa{
    padding: 3em 0;
    background: linear-gradient(var(--cor-terciaria), var(--cor-quatro));
}

.mapa p{
    margin: 0 0 2em;
    text-align: center;
}

.video{
    margin: 1em auto;
}